@import '../../Style/_variables.scss';
@import '../../Style/mixins.scss';
.Header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $mobileGutter;
    position: fixed;
    top: 0;
    z-index: 3;
    left: 0;
    right: 0;
    background: white;
   @media(min-width: 760px){
    padding: 0 $desktopGutter;
   }
}
.Header__active{
    background: $SoftBlue;
    opacity: .9;
}

.dropdownBackground{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: $SoftBlue;
    opacity: .98;
    z-index: 2;

}
.dropdownNav{
   z-index: 1000;
   position: relative;
   color: white; 
   height: calc(100vh - 80px);
   

   nav{
      height: 100%;
      ul{
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          flex-flow: column;
          margin: 0 $mobileGutter;
          padding: 0;
          margin-top: 80px;
       
      }
      li{
          padding: 20px 0;
          text-transform: uppercase;
          letter-spacing: 2px;
          border-top: 1px solid rgba(255, 255, 255, 0.301);
          text-align:center;
          cursor: pointer;
          transform-origin: 50% 100%;
          &:hover{
              background: lighten($SoftBlue, 5%)
          }
      }
      li:last-of-type{
          border-bottom:  1px solid rgba(255, 255, 255, 0.301);
      }
  }
}

.hamburger,.dropdownNav,.dropdownBackground{
    @media(min-width: 760px){
        display: none;
    }
}

.desktopNav{
  
    @media(max-width: 760px){
        display: none;
    }
    ul{
        display: flex;
        align-items: center;
        li{
            padding: 0 10px;
            cursor: pointer; 
            &:hover{
                color: $SoftRed;
            }
        }
    }
}

.whiteButton{
    background: none;
    color: white;
    @include button;
    border: 2px solid white;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.8px;
    &:hover{
        background: white;
        color: $VeryDarkBlue;
    }
}
.redButton{
    background: $SoftRed;
    color: white;
    @include button;
    border: 2px solid $SoftRed;
    &:hover{
        background: none;
        color: $SoftRed;
    }
}